html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
p{
  margin: 0;
}
img{
  background-color:transparent;
}
*{
  color: #fff;
  font-family: sans-serif;
  
  background-color:#202020;
}
body{
  background-image: url("../img/WindowsBackground.jpg");
  background-size: cover;
}

button {
padding: 0;
border:none;
}



/* for-devolopment */
.calculator:child()  {
  border : solid 1px gray ;
}



.calculator{
  width: 320px;
  height: 500px;
  border: solid 1px black;
  position: absolute;
}

.hidden{
  left: -50px !important;
  top:500px !important;
  transform: scale(0.5);
  opacity: 0;
}

.closed{
  transform: scale(0.8);
  opacity: 0;
}

/* sysMeny*/
.calculator__sysMenu {
  width: 100%;
  height: 32px;
  align-items:center;
  background-color:#202020;
  display: flex;
  justify-content: space-between;
}
.calculator__icon{
  margin-left: 20px;
  width: 13px;
  height: 14px;
}
.calculator__name{
  margin-left: 16px;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
}
.calculator__sysBtns{
height: 100%;
display: flex;

}
.calculator__sysBtns button{
  height: 100%;
  width: 46px;
  border-radius: 0;
  border:none;
  font-size: medium;
  color: #fff;
  background-color: #202020
}
.calculator__sysBtns button:hover{
  background-color:#363636;
}
.calculator__sysBtns .closeBtn:hover{
  background-color:#e81123;
}
.calculator__sysBtns button:active{
  background-color:#4d4d4d;
}
.calculator__sysBtns .closeBtn:active{
  background-color:#f1707a;
}
.calculator__sysBtns .closeBtn:active::after,
.calculator__sysBtns .closeBtn:active::before{
  filter:invert();
}
.hideBtn::after{
  content:"";  
  background-color:#fff;
  display: block;
  margin: auto;
  width: 10px;
  height: 1px;
}
.minimizeBtn::after{
  content:"";  
  background-color:#fff;
  display: block;
  margin: auto;
  width: 9px;
  height: 9px;
  border: solid 1px #fff;
  background-color: transparent;
}
 .closeBtn::after, .closeBtn::before {
  content:"";  
  background-color:#fff;
  display: block;
  margin: auto;
  width: 14px;
  height: 1px;
  transform: rotate(45deg);
  z-index: 1;
}
 .closeBtn::before {
  margin: auto auto -1px auto ;
  transform: rotate(135deg);
}

/* header */

.header{
  display: flex;
  align-items:center;
  height: 36px;
  width: 100%;
  background-color:#202020;
  justify-content: space-between;
  margin-top: 6px;
}
.header div {
  display: flex;
}

.header button ,.memoryBtn {
  height: 32px;
  width: 32px;
  border-radius: 5px;
}
.header button:hover , .memoryBtn:hover {
  background-color:#363636
}
.header button:active ,.memoryBtn:active{
  background-color:#292929
}


.header__menuBtn{
  width: 40px!important;
  height: 36px!important;
  margin-left: 4px;
  display:inline-block;
}
.header__journalBtn{
  margin-right: 8px;
}
.header__menuBtn::after {
  display: block;
  content: "";
  width: 16px;
  height: 1px;
  background-color:#fff;
  margin: auto;
  box-shadow: 0px 4px #fff, 0px -4px #fff;
  transition: 200ms;
}
.header__menuBtn:active:after {
  width: 8px;
}
.header__title{
  font-size: 20px;
  margin: auto 13px auto 4px;
}

/* screes */

.screens{
  width: 100%;
  text-align: end;
}

.screen__last{
  margin: 7px 20px auto auto;
  font-size: 13px;
  color:gray;
}
.screen__current{
  margin-top: 12px;
  margin-right: 13px;
  font-size: 45px;
}

/* buttons */
.memory__buttons{
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-size: 13px;
  height: 28px;
  margin: 13px 1px 4px 4px;

}
.memoryBtn {
  text-align: center  ;
  height: 100%;
  width: 20%;
  font-size: 12px;
}
#openMemory span {
  padding-left: 3px;
  font-family: monospace;
  transform: rotate(90deg);
  background-color: transparent;
  display: inline-block;
}

.main__buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:2px;
}
.main__buttons button {
  text-align: center  ;
  height: 47px;
  width: 24%;
  border-radius: 5px;
  margin: 1px;
}
.main__buttons button *{
  background-color:transparent;
}
.main__buttons button:active {
 opacity: 50%;
}
.func__button { 
  background-color: #323232;
}
#dividedBy1Btn, #degreeBtn, #squareRootBtn{
  font-family: "math";
  font-style: italic;
}
.operatorBtn{
  background-color: #323232;
  font-size: 20px;
  font-family: "math";
}
.func__button:hover  , .operatorBtn:hover{
  background-color: #3b3b3b
}
.numberBtn {
  background-color:#3b3b3b ;
  font-size: 18px;
}
.numberBtn:hover{
  background-color:#323232;
}
#equalBtn{
  background-color: #76b9ed;
  color: #323232;
  font-size: 20px;
}
#equalBtn:hover{
  background-color: #6da9d8;
}

/* footer */

.bottomModal {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: linear-gradient(47deg, #233942 50%, #1a2741);
}
.calculatorIcon{
  background-color: transparent;
  width: 48px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items : center;
  background-color:rgba(255, 255, 255, 0.25);
  
}
.calulatorIcon__bottom{
  display: block;
  width: 100%;
  height: 2px;
  background-color:#76b9ed;
  transition: 200ms;
}

.calculatorIcon:hover , .localDateTime *:hover, .localDateTime:hover{
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.calculatorIcon:active , .localDateTime *:active, .localDateTime:active{
  background-color: rgba(255, 255, 255, 0.05) !important;
}
.calculatorIcon  img {
 margin: auto;
  width: 34px;
  height: 32px;
  background-color: transparent ;
}

.footer{
  background-color:transparent;
  display: flex;
  align-items:center
} 
.footer *{
  display: inline-block;
  background-color:transparent;
} 
.footer a{
  display: inline-flex;
  width: 40px;
  height: 100%;
  padding: auto;
  align-items: center;
}
.footer img {
  display: block;
  height: 20px;
  margin: auto;
  transition: 200ms;
}
.footer img:hover{
  transform: rotate(360deg);
  height: 25px;
}

.localDateTime{
  background-color:transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  width: 66px;
  margin-right: 10px;
}
.localDateTime * {
  background-color:transparent;
}

/* resizing */

.resizer{
  position: absolute;
  width: 5px;
  height: 4px;
  background-color:transparent;
  z-index: 2;
}
.resizer.n{
  top: -3px;
  width: 97%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: n-resize;
}
.resizer.e{
  right: -3px;
  height: 95%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: e-resize;
}
.resizer.s{
  bottom: -3px;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: s-resize;
}
.resizer.w{
  left: -3px;
  height: 95%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: w-resize;
}
.resizer.nw{
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}
.resizer.sw{
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}
.resizer.se{
  bottom: -3px;
  right: -3px;
  cursor: se-resize;
}
.resizer.ne{
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}