/* reset css */
*{
  padding: 0;
  margin: 0;
  border:0;
}
*,*:before,*::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

::-webkit-scrollbar{
  width: 2px;
}
::-webkit-scrollbar:hover {
  width: 8px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background:#a0a0a0;
  border-radius:4px;
}

/* for-devolopment */

@font-face {
  font-family: 'CalculatorIcons';
  src: url("../img/icon/CalculatorIcons.ttf");
}

.icon {
  max-width: 16px;
  height: 16px;
  background-color:transparent;
}

:root{
  --text-color:#fff;
  --subText-color: #808080;
  --main-background:#202020;
  --main-fontFamily:sans-serif;
  --border-color:rgba(80, 80, 80, 0.5);
  --modal-background:#2d2d2d;
  --button-hover-color: #3b3b3b;
  --button-background-color: #323232;
  --indicator-background: #76b9ed;
}


*{
  color: var(--text-color);
  font-family: var(--main-fontFamily);  
  background-color:transparent;
  user-select: none;
}
body{
  background-image: url("../img/WindowsBackground.jpg");
  background-size: cover;
  overflow: hidden;
}
img{
  background-color:transparent;
}

/* calculator */
.calculator{
  background-color: var(--main-background);
  width: 320px; 
  height: 507px;
  outline: solid 1px var(--border-color) ;
  position: absolute;
}
.calculator.hidden{
  left: -50px !important;
  top:600px !important;
  transform: scale(0.5);
  opacity: 0;
}
.closed{
  transform: scale(0.8);
  opacity: 0;
}

/* sysMeny*/
.calculator__sysMenu {
  z-index: 5;
  width: 100%;
  height: 32px;
  align-items:center;
  background-color:var( --main-background);
  display: flex;
  justify-content: space-between;
}
.calculator__icon{
  margin-left: 20px;
  width: 13px;
  height: 14px;
  pointer-events: none;
}
.calculator__name{
  margin-left: 16px;
  font-size: 12px;
  font-family: sans-serif;
}
/* sysMenu buttons */
.calculator__sysBtns{
height: 100%;
display: flex;
}
.calculator__sysBtns button{
  height: 100%;
  width: 46px;
  border-radius: 0;
  border:none;
  font-size: medium;
  background-color: var( --main-background)
}
.calculator__sysBtns button:hover{
  background-color:var(--button-hover-color);
}
.calculator__sysBtns .closeBtn:hover{
  background-color:#e81123;
}
.calculator__sysBtns button:active{
  background-color:#4d4d4d;
}
.calculator__sysBtns .closeBtn:active{
  background-color:#f1707a;
}
.calculator__sysBtns .closeBtn:active::after,
.calculator__sysBtns .closeBtn:active::before{
  filter:invert();
}
.hideBtn::after{
  content:"";  
  background-color:#fff;
  display: block;
  margin: auto;
  width: 10px;
  height: 1px;
}
.minimizeBtn::after{
  content:"";  
  background-color:#fff;
  display: block;
  margin: auto;
  width: 9px;
  height: 9px;
  border: solid 1px #fff;
  background-color: transparent;
}
 .closeBtn::after, .closeBtn::before {
  content:"";  
  background-color:#fff;
  display: block;
  margin: auto;
  width: 14px;
  height: 1px;
  transform: rotate(45deg);
  z-index: 1;
}
 .closeBtn::before {
  margin: auto auto -1px auto ;
  transform: rotate(135deg);
}


/* bottmContainer */
.calculator__bottomContainer{
  height: calc(100% - 32px);
  display: flex;
  position: relative;
}

.calculator__leftContainer{
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  flex-basis:320px;
  flex-grow: 1;
}

/* header */
.header{
  display: flex;
  align-items:center;
  height: 36px;
  width: 100%;
  background-color:var( --main-background);
  justify-content: space-between;
  margin-top: 6px;
}
.header div {
  display: flex;
}

.header button ,.memoryBtn, .deleteBtn{
  height: 32px;
  width: 32px;
  border-radius: 5px;
}
.header button:hover , 
.memoryBtn:hover, 
.deleteBtn:hover {
  background-color:var(--button-hover-color)
}
.header button:active ,
.memoryBtn:active, 
.deleteBtn:active,
.journalWrapper:active{
  opacity: 70%;
}

.header__menuBtn{
  width: 40px!important;
  height: 36px!important;
  margin-left: 4px;
  display:inline-block;
  position: relative;
  background: transparent;
}
.header__menuBtn.float{
  z-index: 2 ;
}
.header__journalBtn{
  margin-right: 8px;
}

.header__menuBtn::after {
  display: block;
  content: "";
  width: 16px;
  height: 1px;
  background-color:#fff;
  margin: auto;
  box-shadow: 0px 4px #fff, 0px -4px #fff;
  transition: 200ms;
}
.header__menuBtn:active:after {
  width: 8px;
}
.header__title{
  font-size: 20px;
  margin: auto 13px auto 4px;
}

/* screes */

.screens{
  height: 20%;
  width: 100%;
  text-align: end;
}

.screen__last{
  margin-right: 20px;
  font-size: 13px;
  color:var(--subText-color);
}
.screen__current{
  margin-top: 13px;
  margin-right: 13px;
  font-size: 46px;
  user-select: text;
}

/* buttons */
.calculator__buttons{
  display: flex;
  height: 76%;
  flex-direction: column;
  margin: 3px;
}
.memory__buttons{
  max-width: 400px;
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-size: 13px;

}
.memoryBtn {
  text-align: center  ;
  height: 100%;
  width: 20%;
  font-size: 12px;
  margin-left: 1px;
  margin-right: 1px;
}
#memoryJournalBtn span {
  padding-right: 2px;
  font-family: monospace;
  transform: rotate(90deg);
  background-color: transparent;
  display: inline-block;
}

.main__buttons{
  display: flex;
  flex-wrap: wrap;
  height: 91%;
  justify-content: center;
  position: relative;
}
.main__buttons button {
  text-align: center  ;
  margin: 1px;
  height: calc((100% - 12px) / 6 );
  width: calc(25% - 2px);
  border-radius: 5px;
}
.main__buttons button *{
  background-color:transparent;
}
.main__buttons button:active {
 opacity: 70%;
}
.func__button { 
  background-color: var(--button-background-color);
}
#dividedBy1Btn, #degreeBtn, #squareRootBtn{
  font-family: "math";
  font-style: italic;
}
.operatorBtn{
  background-color: var(--button-background-color);
  font-size: 20px;
  font-family: "math";
}
.func__button:hover  , .operatorBtn:hover{
  background-color: var(--button-hover-color)
}
.numberBtn {
  background-color:var(--button-hover-color) ;
  font-size: 18px;
}
.numberBtn:hover{
  background-color:var(--button-background-color);
}
#equalBtn{
  background-color: var(--indicator-background);
  color: var(--subText-color);
  font-size: 20px;
}
#equalBtn:hover{
  background-color: #6da9d8;
}
/* rightContainer */

.calculator__rightContainer{
  background-color:var(--main-background);
  flex-basis: 320px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 4px;
  overflow: hidden;
}
.calculator__rightContainer.hidden{
  position: absolute;
  height: 0px;
}
.calculator__rightContainer.show{
  padding-left: 0;
  height: 100%;
  position: absolute;
  bottom:0;
  width: 100%;
  border-radius: 9px 9px 0 0 ;
  z-index: 1;
}
.modeSelector{
  display: flex;
  flex: 0 0 55px;  
}
.calculator__rightContainer.show .modeSelector{
  display: none;
}
.modeSelector div{
  position: relative;
  height: 100%;
  align-items: center;
  padding: 12px;

}
.modeSelector div:hover{
  opacity: 70%;
  transition: 200ms;
}
.modeSelector div.active::after{
  content:"";
  height: 3px;
  width: 16px;
  background-color:var(--indicator-background);
  border-radius:2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 12px;
}
.rightContainer__bottom-container{
  display: flex;
  flex-direction: column;
  align-self:stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow-y: hidden;
}
.rightContainer__journals{
  display: flex;
  align-self:stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow-y: hidden;
}
.journal{
  width: 0;
  overflow: hidden;
  transition: 200ms;
  opacity: 0;
  display: flex;  
  flex-direction: column;
}
.journal.active {
  opacity: 1;
  width: 100%;
  overflow-y: scroll;
  align-items: center;
}
.journalWrapper{
  flex: none;
  padding: 9px;
  margin: 10px 4px;
  min-height: 62px;
  width: 100%;
  border-radius: 5px;
  background-color:var(--button-background-color);
  text-align: end;
}
.journalWrapper:hover{
  background-color: var(--button-background-color)
}
.journalWrapper:first-of-type{
  margin-top: 0;
}
.calculator__rightContainer.show .journalWrapper:first-of-type{
  margin-top: 10px;
}
.historyJournal p:first-of-type {
  margin-bottom: 12px;
}
.rightContainer__delete{
  flex: 0 0 48px;
  display:flex;
  justify-content: end;
  align-items:center;
}
.deleteBtn{
  display: flex;
  align-items:center;
  justify-content: center;
  margin:8px ;
}

/* modalCloser */
.modalCloser{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.modalCloser.hidden{
  display: none;
}
.expression{
  color: var(--subText-color)
}
/* modeMenu */
.modeMenu{
  position: absolute;
  bottom:0;
  padding-top: 43px;
  height: calc(100% - 32px);
  width: 255px;
  background-color:var(--modal-background);
  border-top-right-radius: 9px;
  outline: solid 1px var(--border-color) ;
  display: flex;
  flex-direction: column;
  transition: 200ms;
}

.modeMenu.hidden {
  width: 0px !important;
}
.modeMenu::after {
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(255, 0, 0, 0.082);
}
.modeMenu *{
  background-color:transparent;
}
.modeMenu__modes{
  overflow-y: scroll;
}
.modeMenu > ul{
  display: flex;
  flex-direction: column;
}
.modeMenu__modes .title{
  padding-left: 16px;
  line-height: 40px;
  color: #cfcfcf;
  font-weight: 200;
}
.modeMenu li{
  display: flex;
  align-items:center;
  margin: 4px 0 0 4px;
  height: 36px;
  border-radius:5px;
}
.modeMenu li:hover{
  background-color:var(--button-hover-color) !important;
}
.modeMenu__modes li.active{
  background-color: var(--button-hover-color);
}
.modeMenu__modes li.active::before {
  content:"";
  width: 3px;
  height: 16px;
  background-color:var(--indicator-background);
  border-radius:2px;
}
.modeMenu .icon{
  margin-left: 11px;
}
.modeMenu .modeName{
  left: 44px;
  position: sticky;
}

.modeMenu__setting{
  flex: 0 0 54px;
  display: flex;
  flex-direction: column;
  outline: solid 1px var(--border-color);
  justify-content: center;
  overflow: hidden;
}

/* resizing */

.resizer{
  position: absolute;
  width: 5px;
  height: 4px;
  background-color:transparent;
  z-index: 2;
}
.resizer.n{
  top: -3px;
  width: 97%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: n-resize;
}
.resizer.e{
  right: -3px;
  height: 95%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: e-resize;
}
.resizer.s{
  bottom: -3px;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: s-resize;
}
.resizer.w{
  left: -3px;
  height: 95%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: w-resize;
}
.resizer.nw{
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}
.resizer.sw{
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}
.resizer.se{
  bottom: -3px;
  right: -3px;
  cursor: se-resize;
}
.resizer.ne{
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}
/* footer */

.bottomModal {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: linear-gradient(47deg, #233942 50%, #1a2741);
}
.calculatorIcon{
  background-color: transparent;
  width: 48px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items : center;
  background-color:rgba(255, 255, 255, 0.25);
  
}
.calulatorIcon__bottom{
  display: block;
  width: 100%;
  height: 2px;
  background-color:var(--indicator-background);
  transition: 200ms;
}

.calculatorIcon:hover , .localDateTime *:hover, .localDateTime:hover{
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.calculatorIcon:active , .localDateTime *:active, .localDateTime:active{
  background-color: rgba(255, 255, 255, 0.05) !important;
}
.calculatorIcon  img {
 margin: auto;
  width: 34px;
  height: 32px;
  background-color: transparent ;
}

.footer{
  background-color:transparent;
  display: flex;
  align-items:center
} 
.footer *{
  display: inline-block;
  background-color:transparent;
} 
.footer a{
  display: inline-flex;
  width: 40px;
  height: 100%;
  padding: auto;
  align-items: center;
}
.footer img {
  display: block;
  height: 20px;
  margin: auto;
  transition: 200ms;
}
.footer img:hover{
  transform: rotate(360deg);
  height: 25px;
}

.localDateTime{
  background-color:transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  width: 66px;
  margin-right: 10px;
}
.localDateTime * {
  background-color:transparent;
}
